.menu{
    position: absolute !important;
    height: 100% !important;
    width: 200px !important;
    background: #333 !important;
    margin-top: 0 !important;
}
.menu li{
    list-style: none !important;
    margin-bottom: 50px;
    color: white;
}
.menu h2{
    margin-top: 30px;
    margin-bottom: 70px;
    color: white;
    text-align: center;
}
.content{
    position: relative;
    top: 50px;
    margin-left: 250px;
}